:root {
  --bodyBgTexture: none;
  --replyBgTexture: none;
  --linkHoverColor: #9b9ea2;
  --linkColor: #dbdee1;
  --assuntoColor: #9bb5d0;
  --replyBgColor: #383a40;
  --hrColor: rgb(103, 103, 103);
  --headerBgColor: #1e1f22;
  --bodyBgColor: #2b2d31;
  --inputBgColor: #383a40;
  --textColor: #dbdee1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
small,
select,
option,
label,
input,
textarea,
button,
i {
  color: var(--textColor);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-image: var(--bodyBgTexture);
  background-color: var(--bodyBgColor);
  background-attachment: scroll, scroll;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--replyBgColor) var(--headerBgColor);
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--headerBgColor);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--replyBgColor);
  border-radius: 10px;
  border: 3px solid var(--headerBgColor);
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

a:hover {
  color: var(--linkHoverColor);
}

img {
  border-radius: 5px;
}

.greenText {
  color: green;
}

.quote {
  color: #6f6fff;
  font-weight: bold;
}

.pinkText {
  color: rgb(201, 38, 138);
}

.greenText,
.quote,
.pinkText {
  display: table;
}
