.reply {
  display: table;
  padding: 0 0.75rem 0.5rem 0.75rem;
  border-radius: 5px;
  background: var(--replyBgColor);
  background-image: var(--replyBgTexture);
  margin-top: 0.5rem;
  box-shadow: 6px 6px 6px rgba(50, 50, 50, 0.4);
}

.reply div {
  margin-top: 0.25rem;
}

@media (max-width: 450px) {
  .reply {
    width: 100%;
  }
}
