.details {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: center;
  font-weight: 300;
}

.anon,
.assunto {
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.assunto {
  color: var(--assuntoColor);
}

.anon {
  color: var(--linkColor);
}

.date {
  align-self: flex-end;
}
