.removePost {
  display: flex;
  justify-items: center;
  gap: 0.25rem;
}

.form {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.removePost input[type='checkbox'] {
  width: 1rem;
}

.removePost input[type='checkbox']:checked {
  accent-color: var(--assuntoColor);
  width: 1rem;
}
