.imageContainer {
  float: left;
  margin-bottom: 1.5rem;
  margin-right: 0.75rem;
  box-shadow: 6px 6px 6px rgb(50, 50, 50);
  width: 250px;
  height: auto;
}

.bigImage {
  margin-bottom: 0.5rem;
  margin-right: 0.75rem;
  box-shadow: 6px 6px 6px rgb(50, 50, 50);
}

.imageContainer:hover {
  cursor: pointer;
}

@media (max-width: 450px) {
  .imageContainer {
    margin-bottom: 0.5rem;
    float: initial;
    height: auto;
    width: 100%;
  }
  .bigImage {
    margin-bottom: 0.5rem;
    float: initial;
    height: auto;
    width: 100%;
  }
}
